<div id="menu-wrapper" class="hide-on-desktop">
  <a href="#" id="mobile-menu-close"></a>
  <div class="menu-container clearfix">
    <ul id="primary-menu" class="clearfix">
      <li id="menu-item-154" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-154">
        <a href="/home">Home</a>
      </li>
      <li id="menu-item-151" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-151">
        <a href="/learnerstyles">Learning Style</a>
      </li>
      <li id="menu-item-155" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-155">
        <a href="/bestcourses">Best Courses</a>
      </li>
      <li id="menu-item-156" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-156">
        <a href="/contact-us">Contact Us</a>
      </li>
    </ul>
  </div>
  <div id="footer-social">
    <ul class="clearfix">
      <li id="fb">
        <a href="" target="_blank"></a>
      </li>
      <li id="instegram">
        <a href=""></a>
      </li>
      <li id="twitter">
        <a href=""></a>
      </li>
    </ul>
  </div>
</div>
<header id="masthead" class="site-header " role="banner">
  <div class="mobile-menu-btn-wrapper hide-on-desktop">
    <a href="#" id="mobile-menu-btn"></a>
  </div>
  <div id="desktop-menu-btn" class="hide-on-device">
    <div id="desktop-menu-wrapper">
      <div class="menu-container clearfix">
        <ul id="desktop-menu" class="clearfix">
          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-154">
            <a href="/home">Home</a>
          </li>
          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-151">
            <a href="/learnerstyles">Learning Style</a>
          </li>
          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-155">
            <a href="/bestcourses">Best Courses</a>
          </li>
          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-156">
            <a href="/contact-us">Contact Us</a>
          </li>
          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-156">
            <a href="/signup">Sign Up</a>
          </li>
          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-156">
            <a href="/login">Log In</a>
          </li>

        </ul>
        
      </div>
    </div>
  </div>
  <div id="logo" class="">
    <a data-track="home_logo_clicked" href="/home"></a>
  </div>
  <div id="header-action-button" class="hide-on-device">
    <a data-track="menu_check_prices" href="/bestcourses">Find Courses</a>
  </div>
  <div id="header-action-button" class="hide-on-desktop">
    <a data-track="menu_check_prices" href="/bestcourses">Courses</a>
  </div>
</header>