.res {
  max-width: fit-content !important;
  width: 100% !important;
}

.res li {
  border: 0px !important;
}

.mb20 {
  margin-bottom: 50px;
}

.border-no {
  border: none;
  cursor: pointer;
}

.search-box {
  height: 50px;
  width: 400px;
  font-size: 25px;
  margin-left: 15px;
}

.topic-box {
  height: 30px;
  width: -webkit-fill-available;
  font-size: 20px;
  border: none;
  font: inherit;
  color: black;
}

.topic-box option {
  background: black;
  color: white;
}

.mt40px {
  margin-top: 120px;
}

.section a {
  text-decoration: none !important;
}

.mt10 {
  margin-top: 10% !important;
  z-index: 99;
}

#fkbx {
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  height: 55px;
  outline: none;
  transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
  width: 420px;
}

#fkbxtopic {
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  height: 35px;
  outline: none;
  transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
  width: 220px;
}

#fkbxtopic2 {
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  height: 35px;
  outline: none;
  transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
  width: 220px;
}

#ib {
  border: none !important;
}

#ibtopic {
  border: none !important;
}

#ibtopic2 {
  border: none !important;
}

.card-check-chip {
  font-style: normal;
  font-stretch: normal;
  line-height: initial;
  padding: 0;
  margin: 0 0 5px;
  list-style: none;
  display: inline-flex;
  width: 100%;
  vertical-align: top;
  margin-bottom: 15px;
}

.card-check-chip .card-details {
  font-style: normal;
  font-stretch: normal;
  line-height: initial;
  padding: 0 0 0 7px;
  margin: 0;
  list-style: none;
  display: inline-flex;
  vertical-align: middle;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.mtn5 {
  margin-top: -5% !important;
}

.filters {
  height: 100px;
  width: 18%;
  color: black;
}

.background {
  background-repeat: repeat-y;
  background-image: url('assets/before.png');
  background-position: right;
  background-position-y: top;
  background-size: 200px;
}

.inline {
  display: inline;
}

.ml100 {
  width: 60%;
}

.mr10 {
  margin-right: 10% !important;
}

.mr20 {
  margin-right: 20% !important;
}
.pointer {
  cursor: pointer !important;
}

.mr30 {
  margin-right: 30px !important;
}

.question {
  position: relative;
  padding: 10px 0;
}

.question label {
  transition: all 0.25s cubic-bezier(.53, .01, .35, 1.5);
  transform-origin: left center;
  color: black;
  font-weight: 100;
  letter-spacing: 0.01em;
  font-size: 17px;
  box-sizing: border-box;
  padding: 10px 15px;
  display: block;
  position: absolute;
  margin-top: -40px;
  z-index: 2;
  pointer-events: none;
}

.question input[type="text"] {
  transition: all 0.25s cubic-bezier(.53, .01, .35, 1.5);
  appearance: none;
  background-color: none;
  border: 1px solid black;
  line-height: 0;
  font-size: 17px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 60px;
  color: black;
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 1;
}

.question input[type="text"]:focus {
  outline: none;
  background: black;
  color: white;
  margin-top: 30px;
}

.question input[type="text"]:valid {
  margin-top: 30px;
}

.question input[type="text"]:focus~label {
  transform: translate( 0, -35px);
}

.question input[type="text"]:valid~label {
  text-transform: uppercase;
  font-style: italic;
  transform: translate( 5px, -35px) scale(0.6);
}

.dropdown {
  border: solid 1px black;
  border-radius: 60px;
  line-height: 0;
  font-size: 17px;
  width: 100%;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px 15px;
  color: black;
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 1;
}

.w75 {
  width: 75%;
}

.w25 {
  width: 25%;
}

.w47 {
  width: 47%;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.dropdown-label {
  color: black;
  font-weight: 100;
  font-size: 17px;
  display: block;
  z-index: 2;
  pointer-events: none;
  margin: auto;
}

/*=======================================
=            Custom Checkbox            =
=======================================*/

.am-checkbox {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.am-checkbox input {
  opacity: 0;
  display: none;
}

.am-checkbox label {
  float: left;
  position: relative;
  font-weight: normal;
  margin: 0;
  padding-left: 25px !important;
  cursor: pointer;
}

.am-checkbox label::before {
  content: "";
  -moz-transition: 0.1s;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  -ms-transition: 0.1s;
  transition: 0.1s;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 20px;
  position: absolute;
  top: 2px;
  right: initial;
  bottom: initial;
  left: 0;
  background-color: #f9f9fa;
  border: 1px solid #FF952D;
  width: 17px;
  height: 17px;
  line-height: 18px;
  outline: none !important;
  font-family: "FontAwesome", sans-serif;
  text-align: center;
  padding: 0;
}

.am-checkbox input[type="checkbox"]:checked+label::before {
  background-color: #FF952D;
  border-color: #FF952D;
  content: "\f00c";
  color: #FFFFFF;
  font-size: 12px;
}

.am-checkbox.checkbox-inline {
  padding: 0;
  margin: 0 10px 0 0;
  vertical-align: top;
}

.am-checkbox.checkbox-inline {
  padding: 0;
  margin: 0 10px 0 0;
  vertical-align: top;
}

.app--sidebar-widget {
  position: relative;
  top: -120px;
}
