<div class="container">
  <div class="row mt10">
    <div class="span12">
      <form id="custom-search-form" class="form-search form-horizontal pull-right">
        <div id="fkbx" class="input-append span12">
          <input id="ib" type="text" class="search-box" placeholder="Search">
          <button type="submit" class="btn btn-link">
            <i class="icon-search"></i>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="row">

    <div class="filters">

      <div class="app--sidebar-widget mb30">
        <div class="sidebar-widget-heading mb10">
          <h2 class="title">Order by learner types</h2>
        </div>

        <div class="sidebar-widget-body">

          <div class="card-check-chip ">
            <div class="action round-checkbox">
              <input type="checkbox" id="check-011-0" name="check-011-0">
              <label for="check-011-0"></label>
            </div>
            <div class="card-details">
              <span>Active/Reflective Learner</span>
            </div>
          </div>

          <div class="card-check-chip">
            <div class="action round-checkbox">
              <input type="checkbox" id="check-011-1" name="check-011-1">
              <label for="check-011-1"></label>
            </div>
            <div class="card-details">
              <span>Sensing/ Intutive Learner</span>
            </div>
          </div>

          <div class="card-check-chip">
            <div class="action round-checkbox">
              <input type="checkbox" id="check-011-1" name="check-011-1">
              <label for="check-011-1"></label>
            </div>
            <div class="card-details">
              <span>Visual/Verbal Learner</span>
            </div>
          </div>

          <div class="card-check-chip">
            <div class="action round-checkbox">
              <input type="checkbox" id="check-011-1" name="check-011-1">
              <label for="check-011-1"></label>
            </div>
            <div class="card-details">
              <span>Sequential/Global Learner</span>
            </div>
          </div>

        </div>

      </div>

    </div>

    <div class="mtn5 ml100 mr10">
      <section class="hp-section section">
        <div class="recipes-wrapper">

          <div class="row">

            <div *ngFor="let course of courses" class="columns recipe-box" data-id="1197">
              <div class="pointer">
                <a title="Frontend Developer" (click)="newTab(course.url)">
                  <div *ngIf="course.logo == 'coursera'" class="recipe-box-fruit" style="background-image: url(assets/coursera-card.png)"></div>
                  <div *ngIf="course.logo == 'futureLearn'" class="recipe-box-fruit" style="background-image: url(assets/futureLearn.png)"></div>
                  <div *ngIf="course.logo == 'edx'" class="recipe-box-fruit" style="background-image: url(assets/edxLogo.png)"></div>
                  <h3 class="recipe-box-title">{{course.courseName}}</h3>
                  <div class="recipe-box-location">
                    <p>{{course.uniName}}</p>
                  </div>
                  <div class="recipe-box-link">
                    View Course
                  </div>
                </a>
              </div>
            </div>

          </div>
        </div>
      </section>
    </div>
  </div>
</div>