<div id="page" class="hfeed site">

  <app-header></app-header>

  <div id="content" class="site-content">

    <router-outlet></router-outlet>
    <!-- .content-area -->
    <!-- <div id="application-form" class="hidden">
      <div role="form" class="wpcf7" id="wpcf7-f9-o1" lang="en" dir="ltr">
        <div class="screen-reader-response"></div>
        <form action="/#wpcf7-f9-o1" method="post" class="wpcf7-form" enctype="multipart/form-data" novalidate="novalidate">
          <div style="display: none;">
            <input type="hidden" name="_wpcf7" value="9" />
            <input type="hidden" name="_wpcf7_version" value="5.0.2" />
            <input type="hidden" name="_wpcf7_locale" value="en" />
            <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f9-o1" />
            <input type="hidden" name="_wpcf7_container_post" value="0" />
          </div>
          <h5>Apply For</h5>
          <div class="text-center position-title">Aspiring Lemonade Maker</div>
          <div id="form-fields">
            <p class="required">
              <span class="wpcf7-form-control-wrap first-name">
                <input type="text" name="first-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                  aria-required="true" aria-invalid="false" placeholder="FIRST NAME" />
              </span>
            </p>
            <p class="required">
              <span class="wpcf7-form-control-wrap last-name">
                <input type="text" name="last-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                  aria-required="true" aria-invalid="false" placeholder="LAST NAME" />
              </span>
            </p>
            <p class="required">
              <span class="wpcf7-form-control-wrap email">
                <input type="email" name="email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                  aria-required="true" aria-invalid="false" placeholder="EMAIL" />
              </span>
            </p>
            <p class="required">
              <span class="wpcf7-form-control-wrap phone">
                <input type="tel" name="phone" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel"
                  aria-required="true" aria-invalid="false" placeholder="PHONE" />
              </span>
            </p>
            <p>
              <span class="wpcf7-form-control-wrap linkdin">
                <input type="text" name="linkdin" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" placeholder="LINKEDIN PROFILE"
                />
              </span>
            </p>
            <p>
              <a href="#" id="upload-file">
                <span id="file-name" data-text="Attach CV">Attach CV</span>
                <span id="file-upload-button" class="button">Upload</span>
              </a>
              <a href="#" id="remove-cv"></a>
              <span class="wpcf7-form-control-wrap file-529">
                <input type="file" name="file-529" size="40" class="wpcf7-form-control wpcf7-file" id="resume_file" accept=".pdf,.doc,.docx"
                  aria-invalid="false" />
              </span>
            </p>
            <p>
              <input type="submit" value="Let&#039;s Make Lemonade" class="wpcf7-form-control wpcf7-submit" />
            </p>
            <div class="hidden">
              <input type='text' value='' name='acf_email_to'>
              <input type='text' value='Homepage' name='job_title'>
              <input type='hidden' value='' name='linkdin_mandatory_check'>
            </div>
          </div>
          <div class="wpcf7-response-output wpcf7-display-none"></div>
          <a href="https://makers.lemonade.com/" id="close-application" class="button hidden">OK</a>
        </form>
      </div>
    </div> -->
  </div>
  <app-footer></app-footer>
</div>