<div class="hmax">
<!-- multistep form -->
<form id="msform" class="mt100">
 
  <!-- fieldsets -->
  <fieldset class="content">
    <h2 class="fs-title">Create your profile</h2>
    <h3 class="fs-subtitle">Give us some small information</h3>
    <input type="text" name="fname" [(ngModel)]="profile.name" placeholder="Name" />
    <input type="text" name="email" [(ngModel)]="profile.email" placeholder="Email" />
    <input type="password" name="pass" [(ngModel)]="profile.password" placeholder="Password" />
    <input type="password" name="repass" [(ngModel)]="checkPass" placeholder="Confirm Password" />
    <span class="warning" *ngIf="profile.password!==checkPass">Passwords should match</span>
    <span class="warning n25" *ngIf="invalid">Please fill everything</span>
    <input type="button" name="signup" class="next mt25 action-button" value="Sign Up" (click)="signUp()"/>
    <span class="warning n25" *ngIf="error">{{error}}</span>
  </fieldset>
</form>
</div>