<div class="row col-md-12">

  <div class="card col-md-2 ml50 mr75 p15 m fit">
    <img [src]="profileUrl" alt="John" style="width:100%">
    <p>
      <button (click)="changePhoto()">Change photo</button>
    </p>
    <h1>{{user.name}}</h1>
    <a *ngIf="user && !style || style !=='Not found yet'" routerLink="/learnerstyles">Take questionnaire again</a>
    <p class="title">Learning Style: {{style}}</p>
    <a *ngIf="user && !style" routerLink="/learnerstyles">Find now</a>
    <p>{{user.email}}</p>
    <a>Change Password</a>
  </div>

  <section class="mb50 col-md-10 section">
    <h2 class="section-title">Best Recommended Moocs fits for you</h2>

    <!-- <div class="row mb50">
      <div class="span12">
        <form id="custom-search-form" class="form-search form-horizontal pull-right">
          <div id="fkbx" class="input-append span12">
            <input id="ib" type="text" class="search-box" placeholder="Search" [(ngModel)]="keyValue" (keyup)="searchRec()">
          </div>
        </form>
      </div>
    </div> -->
    <div class="mb20">
      <!-- <section class="hp-section section"> -->
      <div>

        <div class="row">

          <div class="w75">

            <div class="">
              <div class="question">
                <input type="text" (keyup)="searchCourse()" [(ngModel)]="searchQ" required/>
                <label>I want to learn</label>
              </div>
            </div>



          </div>

        </div>
        <div class="row">

          <div class="w75">


          </div>
        </div>
        <div class="row">
          <div class="w75">
            <div class="w47 pull-left">
              <div class="question">
                <input type="text" (keyup)="searchTopic()" [(ngModel)]="topicQ" required/>
                <label>Specific Topic</label>
              </div>
            </div>

            <div class="w47 pull-right question">
              <div class="w25 pull-left">
                <div class="mr30 dropdown-label">Preferred Accent</div>
              </div>

              <div id="" class="input-append dropdown question w75 pull-right">

                <select id="" class="topic-box" (change)="accentChange(accent.value)" #accent>
                  <option value=''> Please Select </option>
                  <option value='coursera'>Native English</option>
                  <option value='edx'>Non-Native English</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="w75">
            <div class=" pull-left">
              
            </div>

            <div class="w47 pull-right question">
              <div class="w25 pull-left">
                <div class="mr100 dropdown-label">Understanding Complexity</div>
              </div>

              <div id="" class="input-append dropdown question w75 pull-right">

                <select class="topic-box" (change)="complexityChange(level.value)" #level>
                  <option value=0> Please Select </option>
                  <option value=1>Very Easy</option>
                  <option value=2>Easy</option>
                  <option value=3>Fairly Easy</option>
                  <option value=4>Standard</option>
                  <option value=5>Fairly Difficult</option>
                  <option value=6>Difficult</option>
                  <option value=7>Very Difficult</option>
                  
Very Easy - 1
Easy - 2
Fairly Easy - 3
Standard - 4
Fairly Difficult - 5
Difficult - 6
Very Difficult - 7

                </select>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>

    <div *ngIf="user && style == 'Not found yet'">
      <h2>We could not find your learning style. Please take the questionnaire to find out your own learning style. </h2>
      <div class="home-action-button title-button center">
        <a routerLink="/learnerstyles" style="font-size:20px">Find Your Learning Style Now</a>
      </div>
    </div>
    <div *ngIf="courses.length == 0 && style !== 'Not found yet'">
      <h2>We are sorry. At the moment we don't have any matching courses for your learning style. </h2>
    </div>
    <div *ngIf="user && !(style=='Not found yet')" class="row col-md-12">

      <div *ngFor="let course of courses" class="col-md-4 recipe-box" data-id="1197">
        <div class="pointer">
          <a (click)="newTab(course.courseUrl)" title="Frontend Developer">
            <div *ngIf="course.logo == 'coursera'" class="recipe-box-fruit" style="background-image: url(assets/coursera-card.png)"></div>
            <div *ngIf="course.logo == 'futureLearn'" class="recipe-box-fruit" style="background-image: url(assets/futureLearn.png)"></div>
            <div *ngIf="course.logo == 'edx'" class="recipe-box-fruit" style="background-image: url(assets/edxLogo.png)"></div>
            <h3 class="recipe-box-title">{{course.name}}</h3>
            <div class="recipe-box-location">
              <p>{{course.provider}}</p>
            </div>
            <div class="recipe-box-link">
              View Course
            </div>
          </a>
        </div>
      </div>


      <!-- <div class="col-md-4 recipe-box" data-id="3047">
        <div>
          <a routerLink="/bestcourses" title="Claims Experience Adjuster (Property)">
            <div class="recipe-box-fruit" style="background-image: url(./assets/edxLogo.png)"></div>
            <h3 class="recipe-box-title">Blockchain</h3>
            <div class="recipe-box-location">
              <p>The State University of New York</p>
            </div>
            <div class="recipe-box-link">
              view course
            </div>
          </a>
        </div>
      </div> -->
    </div>
  </section>

</div>