<!-- Add icon library -->
<div class="recipe-header">
    <div id="go-back" class="hide-on-mobile">
      <a href="https://makers.lemonade.com" title="Back">Go Back</a>
    </div>
    <div id="recipe-apply-now-fruit" class="hide-on-desktop hide-on-tablet" style="background-image: url(https://lmnd-makers.s3.amazonaws.com/uploads/2018/03/Onion.png)"></div>
    <!-- <h1 class="recipe-title">Find your Learning Style</h1> -->
    <div class="recipe-meta">
      <!-- <h2>Index of Learning Styles Questionnaire </h2>
      <h2>Your response data and learning style profile are not stored or sent to anyone other than you. They cannot be recovered
        once you have submitted the completed form and received the results.</h2> -->
    </div>
  </div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card">
  <img src="../../assets/coursera.png" alt="John" style="width:100%">
  <h1>John Doe</h1>
  <p class="title">CEO and Founder, Example</p>
  <p>Harvard University</p>
  <a href="#"><i class="fa fa-dribbble"></i></a> 
  <a href="#"><i class="fa fa-twitter"></i></a> 
  <a href="#"><i class="fa fa-linkedin"></i></a> 
  <a href="#"><i class="fa fa-facebook"></i></a> 
  <p><button>Edit</button></p>
</div>
<section class="hp-section">
    <div class="container">
      <h2 class="section-title">Best Recommended Moocs fits for you</h2>
      <div class="subtitle">
        <p>We're looking for people who love innovation, playing with AI, and challenging
          <br /> the status quo as much as we do. We’re all about creative, self-starting leaders who
          <br /> are excited by the thought of changing an entire industry for the better.</p>
          <div class ="hide-on-device" class="home-action-button">                
              <a data-track="menu_check_prices" href="https://www.lemonade.com/start?f=1">Find Now</a>
            </div>
        <div class="app-sketch1"></div>
        <br/>

      </div>
    </div>
  </section>