<footer class="main-footer">
  <div class="footer-links">
    <div class="footer-content-links">
      <div class="footer-lemonade-logo">
      </div>
      <div class="footer-features">
        <div class="footer-list-header">Features</div>
        <ul id="features-footer-menu" class="clearfix">
          <li id="menu-item-3554" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3554">
            <a href="/home">Home</a>
          </li>
          <li id="menu-item-3555" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3555">
            <a href="/learnerstyles">Learning Style</a>
          </li>
          <li id="menu-item-3556" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3556">
            <a href="/bestcourses">Best Courses</a>
          </li>
          <li id="menu-item-3557" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3557">
            <a href="/contact-us">Contact Us</a>
          </li>
        </ul>
      </div>
      <div class="footer-resources">
        <div class="footer-list-header">Resources</div>
        <ul id="resources-footer-menu" class="clearfix">
          <li id="menu-item-3549" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3549">
            <a href="">Blog</a>
          </li>
          <li id="menu-item-3550" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3550">
            <a href="">FAQ</a>
          </li>
          <li id="menu-item-3551" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3551">
            <a href="">Q and A</a>
          </li>
          <!-- <li id="menu-item-3552" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3552">
            <a href="https://www.lemonade.com/transparency"></a>
          </li>
          <li id="menu-item-3553" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3553">
            <a href="https://www.lemonade.com/lemonade-goes-nationwide">Lemonade Nationwide</a>
          </li> -->
        </ul>
      </div>
      <div class="footer-company">
        <div class="footer-list-header">MoocRec</div>
        <ul id="company-footer-menu" class="clearfix">
          <li id="menu-item-3558" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-3558">
            <a href="/signup">Sign up</a>
          </li>
          <li id="menu-item-3559" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3559">
            <a href="/login">Log in</a>
          </li>
          <!-- <li id="menu-item-3560" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3560">
            <a href="">Privacy Policy</a>
          </li>
          <li id="menu-item-3561" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3561">
            <a href="https://lemonade.com/terms-of-service">Terms and Conditions</a>
          </li> -->
          <!-- <li id="menu-item-3562" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3562">
            <a href="https://lemonade.com/accessibility">Accessibility</a>
          </li> -->
        </ul>
      </div>
    </div>
    <!-- <div class="footer-icon-links">
      <div class="footer-mobile-app-links">
        <div class="footer-list-header">Get our app</div>
        <div class="footer-app-links-buttons">
          <a class="footer-get-our-app apple js-track-event" target="_blank" href="https://lemonadeinc.onelink.me/2551691193/84bca19b"
            data-event="footer_app_store_clicked"></a>
          <a class="footer-get-our-app google js-track-event" target="_blank" href="https://lemonadeinc.onelink.me/2832583367/6a83b39e"
            data-event="footer_google_play_clicked"></a>
        </div>
      </div>
      <div class="footer-social-links">
        <div class="footer-list-header">Follow us</div>
        <div class="footer-social-links-buttons">
          <a class="footer-social-links-button instagram js-track-event" target="_blank" href="https://instagram.com/lemonade_inc/"
            data-event="footer_instagram_clicked"></a>
          <a class="footer-social-links-button facebook js-track-event" target="_blank" href="https://www.facebook.com/lemonade/" data-event="footer_facebook_clicked"></a>
          <a class="footer-social-links-button twitter js-track-event" target="_blank" href="https://twitter.com/lemonade_inc" data-event="footer_twitter_clicked"></a>
          <a class="footer-social-links-button youtube js-track-event" target="_blank" href="https://www.youtube.com/lemonade_inc"
            data-event="footer_youtube_clicked"></a>
          <a class="footer-social-links-button meduim js-track-event" target="_blank" href="https://stories.lemonade.com" data-event="footer_medium_clicked"></a>
          <a class="footer-social-links-button dribbble js-track-event" target="_blank" href="https://dribbble.com/lemonade_inc" data-event="footer_dribbble_clicked"></a>
        </div>
      </div>
    </div> -->
  </div>
  <div class="footer-disclaimer">
  </div>
</footer>