<div id="primary" class="content-area">
  <main id="main" class="site-main" role="main">

    <article id="post-12" class="post-12 page type-page status-publish hentry">
      <div class="hero container title-top">
        <div class="hero-animate hide-on-device" style="background-image: url(./assets/home.svg)">
          <div class="main-title center">
            <h1>Find Your Personalised Courses</h1>
            <div class="home-action-button title-button">
              <a routerLink="/learnerstyles" style="font-size:30px">Discover Your Learning Style</a>
            </div>
            <div class="mt10 home-action-button title-button">
              <a class="yt" routerLink="https://youtu.be/RDar5e-cfok"><img class="yt-img" src="assets/yt.png" alt="Youtube"> Watch How It Works</a>
            </div>
            
          </div>

        </div>
        <div class="hero-animate hide-on-desktop" style="background-image: url(./assets/uni.jpg); "></div>
      </div>
      <!-- </section> -->
      <!-- <section class="hp-section">
        <div class="container">
          <h2 class="section-title">Discover your learning style</h2>
          <div class="subtitle">
            <p>Did you know there are many different ways to learn? 
              <br /> In-fact most of us have a dominant learning style that directs the way that we absorb
              <br />  And remember information.</p>            
            <div class ="hide-on-device" class="home-action-button">                
                <a data-track="menu_check_prices" routerLink="/learnerstyles">Find Now</a>
              </div>

            <div class="app-sketch"></div>

          </div>
        </div>
      </section> -->
      <!-- <section class="hp-section">
        <div class="container">
          <h2 class="section-title">Best Recommended Moocs fits for you</h2>
          <div class="subtitle">
            <p> find the best courses 
              <br /> 
              <br /> </p>
              <div class ="hide-on-device" class="home-action-button">                
                  <a data-track="menu_check_prices" routerLink="/bestcourses">Find Now</a>
                </div>
            <div class="app-sketch1"></div>
            <br/>

          </div>
        </div>
      </section> -->
      <!-- <section class="hp-section zero-deductible">
        <div class="container">
          <h2 class="section-title">Personalised Smart Search</h2>
          <div class="subtitle">
            <p> Based on the courses you like , based on your learning styles and with help of our advance AI algorithms              <br />
              <br /> we will provide you a personalised search </p>
              <div class ="hide-on-device" class="home-action-button">                
                  <a data-track="menu_check_prices" routerLink="/bestcourses">Find Now</a>
                </div>
            <div class="app-sketch2"></div>

          </div>
        </div>
      </section> -->


      <section class="hp-section">
        <div class="recipes-wrapper">
          <h2 class="section-title-popular">Most Popular Courses of the month</h2>

          <div class="row">
            <div class="columns recipe-box" data-id="1197">
              <div>
                <a routerLink="/bestcourses" title="Frontend Developer">
                  <div class="recipe-box-fruit" style="background-image: url(./assets/coursera-card.png)"></div>
                  <h3 class="recipe-box-title">Android App Development</h3>
                  <div class="recipe-box-location">
                    <p>Vanderbilt University</p>
                  </div>
                  <div class="recipe-box-link">
                    View Course
                  </div>
                </a>
              </div>
            </div>
            <div class="columns recipe-box" data-id="181">
              <div>
                <a routerLink="/bestcourses" title="Senior Backend Developer">
                  <div class="recipe-box-fruit" style="background-image: url(./assets/futureLearn.png)"></div>
                  <h3 class="recipe-box-title">Neural networks and Deep Learning</h3>
                  <div class="recipe-box-location">
                    <p>deeplearning.ai</p>
                  </div>
                  <div class="recipe-box-link">
                    view course
                  </div>
                </a>
              </div>
            </div>
            <div class="columns recipe-box" data-id="3047">
              <div>
                <a routerLink="/bestcourses" title="Claims Experience Adjuster (Property)">
                  <div class="recipe-box-fruit" style="background-image: url(./assets/edxLogo.png)"></div>
                  <h3 class="recipe-box-title">Blockchain</h3>
                  <div class="recipe-box-location">
                    <p>The State University of New York</p>
                  </div>
                  <div class="recipe-box-link">
                    view course
                  </div>
                </a>
              </div>
            </div>

            <div class="columns recipe-box" data-id="3407">
              <div>
                <a routerLink="/bestcourses" title="Senior Product Manager">
                  <div class="recipe-box-fruit" style="background-image: url(./assets/edxLogo.png)"></div>
                  <h3 class="recipe-box-title">Senior Product Manager</h3>
                  <div class="recipe-box-location">
                    <p>Sarona Campus, Tel Aviv</p>
                  </div>
                  <div class="recipe-box-link">
                    view course
                  </div>
                </a>
              </div>
            </div>
            <div class="columns recipe-box" data-id="3208">
              <div>
                <a routerLink="/bestcourses" title="Content Marketer">
                  <div class="recipe-box-fruit" style="background-image: url(./assets/futureLearn.png)"></div>
                  <h3 class="recipe-box-title">Content Marketer</h3>
                  <div class="recipe-box-location">
                    <p>Sarona Campus, Tel Aviv</p>
                  </div>
                  <div class="recipe-box-link">
                    view course
                  </div>
                </a>
              </div>
            </div>
            <div class="columns recipe-box" data-id="109">
              <div>
                <a routerLink="/bestcourses" title="Android Developer">
                  <div class="recipe-box-fruit" style="background-image: url(./assets/futureLearn.png)"></div>
                  <h3 class="recipe-box-title">Android Developer</h3>
                  <div class="recipe-box-location">
                    <p>Sarona Campus, Tel Aviv</p>
                  </div>
                  <div class="recipe-box-link">
                    view course
                  </div>
                </a>
              </div>
            </div>
            <div class="columns recipe-box" data-id="2207">
              <div>
                <a routerLink="/bestcourses" title="Insurance Filing Specialist">
                  <div class="recipe-box-fruit" style="background-image: url(./assets/edxLogo.png)"></div>
                  <h3 class="recipe-box-title">Insurance Filing Specialist</h3>
                  <div class="recipe-box-location">
                    <p>Soho, New York</p>
                  </div>
                  <div class="recipe-box-link">
                    view course
                  </div>
                </a>
              </div>
            </div>
            <div class="columns recipe-box" data-id="1194">
              <div>
                <a routerLink="/bestcourses" title="QA Engineer">
                  <div class="recipe-box-fruit" style="background-image: url(./assets/futureLearn.png)"></div>
                  <h3 class="recipe-box-title">QA Engineer</h3>
                  <div class="recipe-box-location">
                    <p>Sarona Campus, Tel Aviv</p>
                  </div>
                  <div class="recipe-box-link">
                    view course
                  </div>
                </a>
              </div>
            </div>
            <div class="columns recipe-box" data-id="2215">
              <div>
                <a routerLink="/bestcourses" title="Partner Marketing Manager">
                  <div class="recipe-box-fruit" style="background-image: url(./assets/edxLogo.png)"></div>
                  <h3 class="recipe-box-title">Partner Marketing Manager</h3>
                  <div class="recipe-box-location">
                    <p>Soho, New York</p>
                  </div>
                  <div class="recipe-box-link">
                    view course
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- </div> -->

      <section class="text-center" id="no-role-fits">
        <div class="container container70">
          <img width="117" height="117" src="../assets/birrete.png" class="no-role-fits-image" alt="Job Openings at Lemonade Insurance"
            sizes="(max-width: 117px) 100vw, 117px" />
          <h2 class="section-title">Struggling with finding the best courses that help you understand more and lear fast </h2>
        </div>
      </section>
      <!-- <section id="culture-of-makers" class="text-center">
          <div class="container">
            <h2 class="section-title">A Culture of Makers</h2>
            <p>Makers seek creativity in everything they do, whether it’s a line of code, a new design, or a
              <br /> campaign. Exceptionally smart team players, Makers don’t think of work as… well, work. They love
              <br /> the smallest of details but can move the biggest mountains. As self-starters, Makers get a kick
              <br /> out of delivering quality stuff fast, and laugh in the face of impossible tasks.</p>
          </div>
        </section> -->
      <!-- <section id="cover-images-section">
          <div class="clearfix">
            <div class="cover-image">
              <img width="1024" height="665" src="https://lmnd-makers.s3.amazonaws.com/uploads/2018/01/cover_image_2-1024x665.jpg" class="attachment-large size-large"
                alt="Lemonade Office - TLV" srcset="https://lmnd-makers.s3.amazonaws.com/uploads/2018/01/cover_image_2-1024x665.jpg 1024w, https://lmnd-makers.s3.amazonaws.com/uploads/2018/01/cover_image_2-300x195.jpg 300w, https://lmnd-makers.s3.amazonaws.com/uploads/2018/01/cover_image_2-768x499.jpg 768w, https://lmnd-makers.s3.amazonaws.com/uploads/2018/01/cover_image_2-370x240.jpg 370w, https://lmnd-makers.s3.amazonaws.com/uploads/2018/01/cover_image_2.jpg 1368w"
                sizes="(max-width: 1024px) 100vw, 1024px" /> </div>
            <div class="cover-image">
              <img width="1024" height="666" src="https://lmnd-makers.s3.amazonaws.com/uploads/2018/01/cover_image_1-1024x666.jpg" class="attachment-large size-large"
                alt="Lemonade Office - NYC" srcset="https://lmnd-makers.s3.amazonaws.com/uploads/2018/01/cover_image_1-1024x666.jpg 1024w, https://lmnd-makers.s3.amazonaws.com/uploads/2018/01/cover_image_1-300x195.jpg 300w, https://lmnd-makers.s3.amazonaws.com/uploads/2018/01/cover_image_1-768x499.jpg 768w, https://lmnd-makers.s3.amazonaws.com/uploads/2018/01/cover_image_1-369x240.jpg 369w, https://lmnd-makers.s3.amazonaws.com/uploads/2018/01/cover_image_1.jpg 1366w"
                sizes="(max-width: 1024px) 100vw, 1024px" /> </div>
          </div>
        </section> -->
      <!-- <section id="this-is-us" class="text-center">
        <div class="container">
          <h3>Lemonade Makers</h3>
          <p>Our workplace looks more like a workshop than an office. We despise corporate politics,
            <br /> emails, and neverending meetings. Macs are our weapons of choice, Slack is our (only)
            <br /> mode of communication, and we put our trust in the cloud.</p>
          <p>We love the different and the unusual. We work hard, and focus harder. We’re obsessed with
            <br /> prioritization, getting shit done, and agility. We don’t have a roadmap… in fact, we don’t even
            <br /> believe in roadmaps. Lemonade Makers focus on building incredible stuff at record-breaking
            <br /> speeds, while turning a 300-year-old industry on its head.</p>
        </div>
      </section> -->
      <section id="go-lemonade" style="padding:20px">

        
        <h2 class="section-title">MOOC Platforms</h2>
        <div class="row">
          <div class="col-md-4 mr100">
            <img src="assets/coursera.png" width="150px" alt="" />
          </div>
          <div class="col-md-4 mr100">
            <img src="assets/futurelearn-01.png" width="150px" alt="" />
          </div>
          <div class="col-md-4">
            <img src="assets/edx-3001.png" width="150px" alt="" />
          </div>

        </div>

      </section>
    </article>

  </main>
  <!-- .site-main -->
</div>