.main-title {
   
	position: relative;
	margin: 0;
	padding: 0;
	
	
	top: 36%;
    left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.mt10 {
	margin-top: 10px;
}

.yt{
	font-size: 20px;
	
}

.yt-img{
	width: 2vw;
	position: relative;
    bottom: -3px;
    right: 4px;
}
.main-title > h1 {
    color: #4a4a4a;
    padding-bottom: 0px;
    font-weight: 600;
}

.title-top {
	text-align: initial !important;
}

.container70{
	width: 70%;
}

.center{
	text-align: center;
}

.mr100{
	margin-right: 100px;
}
